# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

SidasAutoCarryPlugin - Template.lua
AoESkillshotPosition.lua
AoE_Skillshot_Position.lua
AutoBot.lua
Collision.lua
comboLib.lua
DrawDamageLib.lua
GetMasteries.lua
iSAC.lua
JungleLib.lua
LineSkillShotPosition.lua
ItemRecipes.lua
FastCollision.lua
MapPosition.lua
DataManager.lua
CustomPermaShow.lua
old2dgeo.lua
MapPosition_walls_1_1.lua
OnWindUp.lua
Prodiction.lua
Saves/lastGame.save
Saves/scriptConfig.save
Saves/SidasAutoCarry.save
SidasAutoCarryPlugin - Nasus.lua
SidasAutoCarryPlugin - Twitch.lua
SidasAutoCarryPlugin - Xerath.lua
SourceLib.lua
SOW.lua
spellLib.lua
VPrediction.lua
SOWYasi.lua
ProSeriesLib.lua